.site-wrap {
    background: $white;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    @include display(flex); //sticky footer
    @include flex-direction(column); //sticky footer
    min-height: 100%; //sticky footer
}

/*=============== Site Header ===============*/

.site-header-wrap {
    /*background-image: url(img/bg-site-intro.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
    .site-intro-wrap{
        /*padding-bottom:0;
        padding-top:0;*/
        background-color: rgba(0,0,0,0.4);
    max-width: 100%;
    }
}

.site-header {

}

.sh-sticky-wrap {
    @include mq(large) {
    	background-color: $white;
        .inner-wrap{
            padding-bottom: 24px;
            padding-top: 35px;
            @include transition (all .2s ease-in-out);
        }
        //height: $nav-height;
        &.stuck {
        	box-shadow:2px 0px 5px #cccccc;
        	position: fixed;
			left: 0;
			right: 0;
			top: 0;
			z-index:1;
            .site-nav-container {
                /*position: fixed;
                left: 0;
                right: 0;
                top: 0;*/
            }
            .inner-wrap{
                padding-bottom: 8px;
                padding-top: 10px;
            }
            .site-logo{
                margin-top:5px !important;
                img{
                    height: 27px;
                    width: 100px;
                }
            }
        }
    }
}
.site-logo{
    display: inline-block;
    vertical-align: top;
	img{
		width: 160px;
		height: 43px;
        @include transition (all .2s ease-in-out);
	}
    @include mq(large) {
        display: inline-block;
        float: left;
        vertical-align: top;
    }
}
.sh-utility-nav {
    overflow: hidden;
    .social-wrap {
        width: 15em;
        display: none;
    }
    @include mq(medium) {
        text-align: right;
        float: right;
        .social-wrap {
            display: inline-block;
        }
    }
}

.site-search {}

//Site Header Icons
.sh-icons {
    float: right;
    @include mq(medium) {}
}

%sh-ico {
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
    padding-top: 1.2em;
    width: 2em;
    margin-left: 1em;
    text-align: center; //background-color:red;
    text-decoration: none;
    span {
        font-size: .75em;
    }
    @include mq(medium) {
        //float:right;
    }
}

.sh-ph {
    margin: 0;
    i {
        font-style: normal; //display:none;
    }
    @include mq(medium) {
        font-size: $medium-font-size;
        i {
            //display:inline;
        }
    }
}

.sh-ico-search {
    background-image: url(img/ico-search.svg);
    @extend %sh-ico;
}

.sh-ico-menu {
    background-image: url(img/ico-nav.svg);
    @extend %sh-ico;
    background-size: 30px 25px;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 25px;
    @include mq(medium) {
        display: none;
    }
}


/*=============== Site Intro ===============*/
.site-intro-container{
    background-image: url(img/site-intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-bottom:100px;
    padding-top:50px;
    position: relative;
    @include mq(large) {
        max-height:em(680);
        overflow:hidden;
        padding-bottom:420px;
        padding-top:130px;
        &.stuck{
            margin-top:54px;
        }
    }
}
.site-intro {
    @include mq(large) {
        margin: 0 auto;
        width: 50%;
    }
}
.si-heading{
	//color:$dark-blue;
    color: white;
	font-family:$base-font-family;
	font-size: 26px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.39;
	letter-spacing: 2.9px;
	text-align: center;
    text-transform:uppercase;
    @include mq(large) {
        font-size: 36px;
    }
}
.si-text{
	//color:$gray;
    color: white;
	font-family:'goudy_old_styleregular';
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
	line-height: 1.5;
	letter-spacing: 3.1px;
	text-align: center;
    text-transform:uppercase;
    @include mq(large) {
        font-size: 20px;
    }
}
.si-cta{
    bottom: 70px;
    left: 0;
    margin: 0 auto;
    max-width: 230px;
    padding-left:10px;
    padding-right:10px;
    position: absolute;
    right: 0;
    text-transform:uppercase;
    @include mq(large) {
    max-width: 400px;
    }
}
.si-social{
	a{
		display:inline-block;
        margin: 0 0 0 10px;
		img{
            display: block;
            vertical-align: top;
			width: 20px;
			height: 20px;
		}
	}
    @include mq(large) {
        bottom: 10px;
        position: absolute;
        right: 10px;
    }
}
/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
    @include flex(1 0 auto); //sticky footer
    margin:0 0 40px;
    .inner-wrap{
        padding-bottom:0;
        padding-top:0;
    }
    &.dest-content{
    	.inner-wrap{
    		padding-bottom: 80px;
    		padding-top: 80px;
    	}
    }
    @include mq(large) {
        &.dest-content{
            &.stuck{
                margin-top:54px;
            }
        }
    }
}

.site-content-primary {}

.site-content-secondary {}


/*=============== Service module ===============*/
.services-module{
	padding-top:30px;
    @include mq(medium) {
        padding-top:100px;
    }
}
.services-module-dest{
    padding-bottom:30px;
    padding-top:30px;
    @include mq(medium) {
        padding-bottom:100px;
        padding-top:0;
    }
    @include mq(large) {
        padding-bottom:0;
        .inner-wrap{
            padding-bottom:0;
        }
    }
}
.sm-heading{
	color:$dark-blue;
	font-family:$base-font-family;
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2.4px;
	text-align: center;
    text-transform: uppercase;
}
.sm-subtext{
    margin:105px 0 0 0;
}
.sm-item{
	background-color:$dark-blue;
    margin:0 auto 30px;
    max-width:300px;
	padding:30px 4px 24px;
    text-align: center;
    @include transition (all .2s ease-in-out);
	&:hover{
		background-color: rgba(67, 65, 66, 0.5);
	}
    a{
        display:block;
        text-decoration: none;
    }
    @include mq(medium) {
        display:inline-block;
        margin: 0 0 0 0.8%;
        max-width:100%;
        min-height: 320px;
        padding:30px 4px 0;
        vertical-align:top;
        width:32%;
        &:first-child{
            margin:0;
        }
    }
    @include mq(large) {
        min-height: 300px;
        width:32.5%;
    }
    @include mq(xlarge) {
        min-height: 270px;
    }
}
.smi-heading{
	font-family:$base-font-family;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2.8px;
    margin:0 0 20px;
	text-align: center;
    text-transform: uppercase;
	color: $white;
    @include mq(medium) {
        font-size: 16px;
    }
    @include mq(large) {
        font-size: 18px;
    }
}
.smi-img{
    display:inline-block;
    margin:0 auto 30px;
    vertical-align:top;
    width:70px;
}
.smi-text{
	font-family:$base-font-family;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.65;
	letter-spacing: 0.5px;
    margin:0;
	text-align: center;
	color: $white;
    @include mq(medium) {
        font-size: 16px;
    }
    @include mq(large) {
        font-size: 18px;
    }
}
.cmg-soon{
    font-family:$base-font-family;
    font-size: 18px;
    font-size: 12px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    text-align: center;
    color:$white;
}
/*=============== communication module ===============*/
.communication-module{
	padding-bottom:80px;
	padding-top:80px;
	position:relative;
	&:before, &:after{
		background-color:$gray;
		content:"";
		height:50px;
		left:0;
		margin:0 auto;
		position:absolute;
		right:0;
		top:10px;
		width:2px;
	}
	&:after{
		bottom:10px;
		top:auto;
	}
    @include mq(large){
        padding-bottom:350px;
        padding-top:310px;
        &:before, &:after{
            height:150px;
            top:60px;
            width:2px;
        }
        &:after{
            top:auto;
            bottom:100px;
        }
    }
}
.cm-content {
    @include mq(large){
        float: left;
        width: 46%;
    }
}
.cm-fig {
    @include mq(large){
        float: right;
        width: 45%;
    }
}
.smc-heading{
	font-family:$base-font-family;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.9px;
	color:$dark-blue;
    text-transform:uppercase;
    @include mq(large){
        margin: 0;
    }
}
.cmc-text{
	font-family:$base-font-family;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: 2.22;
	letter-spacing: 0.5px;
	color: $gray;
    p{
        font-size:1em;
        line-height: 2.22;
        margin:0;
    }
    @include mq(large){
        margin: 16px 0 16px 50px;
    }
}
.cmc-cta{
    @include mq(large){
        margin-left: 50px;
    }
}
/*=============== comfort module ===============*/
.comfort-module{
    padding-bottom:40px;
    @include mq(large){
        padding-bottom:100px;
    }
}
.com-fig{
    float:left;
}
.com-content{
    float:right;
}
/*=============== our work module ===============*/
.our-work-module{
    padding:0 0 50px;
    text-align:center;
    @include mq(large){
        padding:0 0 150px;
    }
}
.our-work-module-dest{
    padding:0 0 50px;
    text-align:center;
    @include mq(large){
        padding:0;
        .inner-wrap{
            padding-bottom: 0;
        }
        .owm-buckets{
            padding:0;
        }
    }
}
.owm-buckets{
    @include mq(large){
        padding:0 0 100px;
    }
}
.owm-heading{
	font-family:$base-font-family;
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 2.4px;
    margin:24px 0 30px;
    padding:0 0 15px;
	position:relative;
	text-align: center;
    text-transform:uppercase;
	color: $dark-blue;
	&:after{
  		background-color:$gray;
        bottom:0;
  		content:"";
  		height: 2px;
  		left:0;
  		margin:0 auto;
  		position:absolute;
  		right:0;
		width: 100%;
	}
    @include mq(large){
        margin:24px 0 93px;
        &:after{
            width: 550px;
        }
    }
}
.owm-item{
    display:block;
    margin:0 auto 30px;
    max-width:300px;
    > a{
        display:inline-block;
        position: relative;
        vertical-align: top;
    }
    @include mq(medium){
        display:inline-block;
        margin:0 10px 50px;
        vertical-align:top;
        width:44%;
    }
    @include mq(large){
        margin:0 10px 50px;
        width:23%;
    }
    @include mq(xlarge){
        margin: 0 0.6%;
        width: 18.6%;
        &:first-child{
            margin-left:0;
        }
        &:last-child{
            margin-right:0;
        }
    }
}
.owm-img{
    display: block;
}
.owm-text{
	font-family:$base-font-family;
	font-size: 16px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 2.8px;
	text-align: center;
	color: $white;
    left: 0;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 40%;
    text-transform:uppercase;
    @include mq(large){
        font-size: 18px;
    }
}
/*=============== product dest module ===============*/
.project-module{
	padding:0 20px 30px;
    .cmc-cta{
        margin:20px 0 0 0;
        padding-left:100px;
        padding-right:100px;
    }
    @include mq(medium){
    	margin: 0 auto;
    	width:80%;
    }
    @include mq(large){
    	margin: 0 0 -200px;
        padding:200px 0 200px 0;
        width:auto;
        &:first-child{
            padding-top:50px;
        }
    }
}
.pm-content {
    @include mq(large){
        float: right;
        padding:em(50) 10% 0 0;
        width: 49%;
    }
}
.pm-fig {
    @include mq(large){
        float: left;
        width: 45%;
    }
}
.project-module-right{
    .pmc-text{
        ul{
            text-align:left;
        }
    }
    @include mq(large){
        padding:200px 0 200px 0;
        .pm-content {
            float: left;
            padding:0 0 0 10%;
            text-align:left;
            width: 49%;
        }
        .pm-fig {
            float: right;
            text-align:right;
            width: 45%;
        }
    }
}
.pmc-heading{
    font-family:$base-font-family;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color:$dark-blue;
    text-transform: uppercase;
    @include mq(large){
        margin: 0;
    }
}
.pmc-text{
    font-family:$base-font-family;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: 0.5px;
    color: $gray;
    p{
        font-size:1em;
        line-height: 1.65;
        margin:0;
    }
    ul, ul:not([class]){
        margin:0;
        padding:0;
        li, li:not([class]){
            background-image: url(img/service-bullet.jpg);
            background-position: left 11px;
            background-repeat:no-repeat;
            background-size: auto;
            font-size:1em;
            line-height: 1.65;
            margin:0;
            padding:0 0 0 20px;
            &:before, &:after{
                display:none;
            }
        }
    }
    @include mq(large){
        margin: 16px 0 16px 50px;
    }
}
.pmc-icons{
    a{
        display:inline-block;
        margin:0 em(10) 0 0;
        vertical-align: top;
        ig{
            display:block;
            vertical-align:top;
        }
    }
    @include mq(large){
        margin: 0 0 0 50px;
    }
}
.contact-heading{
	h1{
		font-family:$base-font-family;
		font-size: 36px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.39;
		letter-spacing: 2.9px;
		color: $dark-blue;
		margin: 22px 0 30px 0;
		text-transform:uppercase;
	}
	@include mq(large){
		display:inline-block;
		margin: 0 0 30px 80px;
        text-align: right;
		vertical-align:top;
		width:40%;
	}
}
.contact-form{
    label{
		font-family:$base-font-family;
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.9px;
		color:$green;
		text-transform: uppercase;
    }
    .field-wrap{
    	position:relative;
    }
    input{
    	border-bottom: solid 1px $gray;
    	border-left:none;
    	border-right:none;
    	border-top:none;
    	box-shadow:none;
    	&:focus{
    		box-shadow:none;
    	}
    	&.wpcf7-submit{
    		display:block;
    		width:100%;
    	}
    }
    textarea{
    	border: solid 1px $gray;
    	box-shadow:none;
    	height:100px;
    }
    .wpcf7-list-item-label{
    	display:none;
    }
    .wpcf7-form-control-wrap{
    	display:block;
    	width:100%;
    	.wpcf7-checkbox{
	    	display:block;
	    	width:100%;
    	}
    }
    .wpcf7-list-item{
    	background-image: url(img/project-type2.jpg);
    	background-position: center top;
    	background-repeat:no-repeat;
        background-size: cover;
        border:2px solid transparent;
    	margin:10px 3px 10px 0;
    	max-width:112px;
    	min-height:112px;
    	width:32%;
        &.active{
            border:2px solid $blue;
        }
    	&.first{
    		background-image: url(img/project-type1.jpg);
    	}
    	&.last{
    		background-image: url(img/project-type3.jpg);
    	}
    	input{
    		background: red;
			visibility: hidden;
    	}
    }
	@include mq(large){
		display:inline-block;
		margin: 0 0 0 80px;
		vertical-align:top;
		width:45%;
		.field-wrap{
			label{
				left:0;
				position:absolute;
				top:15px;
				@include transition (all .2s ease-in-out);
				&.active{
					top:0;
				}
			}
			.wpcf7-form-control-wrap{
				padding:40px 0 10px;
			}
            .wpcf7-list-item{
                background-position: left top;
                background-repeat:no-repeat;
                margin:10px 20px 15px 0;
                max-width:112px;
                min-height:112px;
                width:33%;
            }
		}
	}
    @include mq(xlarge){
        width:36%;
    }
}
.contact-add{
    color:$gray;
    font-family:$base-font-family;
    font-size:18px;
    font-weight:500;
    line-height:40px;
    letter-spacing:0.5px;
    a{
        color:$gray;
        text-decoration:none;
        &:hover{
            color:$green;
            text-decoration:none;
        }
    }
}
.contact-map{
    color:$white;
    display:block;
    min-width:200px;
    max-width: 300px;
    height: 300px;
    background-color:$blue;
    font-family:$base-font-family;
    font-size:18px;
    font-weight:800;
    line-height:21px;
    letter-spacing:2.8px;
    margin:0 0 20px 0;
    position:relative;
    text-transform:uppercase;
    span{
        left:50%;
        position:absolute;
        text-align:center;
        top:50%;
        @include transform(translateX(-50%) translateY(-50%));
        width:100%;
    }
}
.contact-map-text{
    color:$gray;
    font-family:$base-font-family;
    font-size:18px;
    font-weight:500;
    line-height:30px;
    letter-spacing:0.5px;
}
/*=============== Site Footer ===============*/
.site-footer {
    background-color:$gray;
    text-align: center;
    color: $white;
}
.sf-nav {
    padding:0 0 30px;
    @include mq(medium){
        float: left;
        padding:0;
        text-align: left;
        width: 27%;
    }
}
.sf-heading{
	font-family:$base-font-family;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color:$white;
}
.sf-links{
	li{
		a{
			font-family:$base-font-family;
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color:$white;
			text-decoration:none;
            &:hover{
                color:$blue;
                text-decoration:none;
            }
		}
	}
    @include mq(large){
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}
.sf-logo{
    display:inline-block;
    margin:0 auto;
	width: 100px;
	height: 100px;
    @include mq(medium){
        margin: 0 24% 0 0;
    }
}
.sf-copyright{
	font-family:$base-font-family;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.86;
	letter-spacing: normal;
	text-align: center;
	color: $white;
    margin: 70px 0 0;
}

.sf-small {
    background-color: $medium-gray;
    text-align: center;
    .inner-wrap {
        padding-top: $baseline*2;
        padding-bottom: $baseline*2;
    }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
    display: none;
}



/*=============== Search ===============*/

.search-table {
    display: table;
    width: 100%;
    float: right;
    padding: 0;
}

.search-row {
    display: table-row;
    width: 100%;
}

.search-cell1 {
    display: table-cell;
    padding-right: 0.4375em;
}

.search-cell2 {
    display: table-cell;
    width: 2.1875em;
    border: 0;
}

.search-text {
    font-size: .8em;
    width: 100%;
    height: 2.3em;
    border: 1px solid red;
    float: left;
    padding-left: .5em;
    margin-bottom: 0 !important;
}

.search-submit {
    width: 100%;
    height: 2.3em;
    border: 0;
    float: right;
    background: url(img/ico-search.svg) no-repeat center center !important;
}


@include mq(medium) {
    .site-search {
        width: 100%;
    }
    .search-text {
        height: 2.3em;
    }
    .search-submit {
        height: 2.3em;
    }
}

@include mq(large) {
    .search {}
    .search-text {}
}

.search-module {
    background-color: $base-color;
    height: 6em;
    margin-top: -6em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.47);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10000;
    @include transition (all .2s ease-in-out);
    &.active {
        margin-top: 0;
    }
    .inner-wrap {
        padding: 0.3em 1.5em 1em;
    }
}

.search-exit {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px; //position:absolute;
    top: 0;
    right: 0;
}



/*=============== Read More ===============*/

.main-content {
    display: block;
    overflow: hidden;
    position: relative;
    @include mq(medium) {
        display: inline;
    }
}

@include mq(small) {
    .height {
        max-height: em(250);
        &:before {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
            bottom: 0;
            content: "";
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }
    .heightAuto {
        max-height: em(5000);
        &:before {
            display: none;
        }
    }
}

.link {
    display: block;
    text-align: center;
    font-weight: bold;
    color: $blue;
    padding-bottom: em(10);
    @include mq(medium) {
        display: none;
    }
}
.os-animation {
    @include mq(large) {
        opacity: 0;
        &.animated{
            opacity:1;
        }
    }
}
.contact-ty{
    color:$gray;
    font-family: 'goudy_old_styleregular';
    font-size:20px;
    line-height:30px;
    letter-spacing:3.1px;
    text-align:center;
}


@font-face {
    font-family: 'goudy_old_styleregular';
    src: url('fonts/74771948.woff2') format('woff2'),
         url('fonts/74771948.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}